*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: radial-gradient(circle at top right, rgb(49, 157, 235) 0%, rgb(49, 157, 235) 13%
    ,rgb(76, 166, 234) 13%, rgb(76, 166, 234) 23%,rgb(103, 176, 232) 23%,
     rgb(103, 176, 232) 33%,rgb(130, 185, 231) 33%, rgb(130, 185, 231) 46%,rgb(156, 194, 230) 46%,
      rgb(156, 194, 230) 48%,rgb(183, 203, 229) 48%, rgb(183, 203, 229) 63%,rgb(210, 213, 227) 63%, 
      rgb(210, 213, 227) 83%,rgb(237, 222, 226) 83%, rgb(237, 222, 226) 100%);
    
    margin: 0;
    color: white;
}
header{
    display: flex;
    min-height: 50px;
    background-color: #11111188;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    align-items: center;
    color: rgb(248, 246, 246);
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #08080888;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.menu-button{
    display: none;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
}

.inicio {
    font-size: 30;
}
@media (max-width:1000px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

}
@media(max-width: 800px){
    .sidebar{
        width: 100%;
    }
}
@media(max-width: 700px){
    header{
        flex-direction: column;
    }
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.274);
    
    

}
.container.formulario {
    
    background-color: #000000a4;
    left: 35%;
    top: 35%;
    
    margin: -100px 0 0 -150px;
    font-size: 5vm;
    
}
.container.result {
    background-color: #0000009a;
    justify-content: center;
    align-items: center;
    font-size: 5vm;
    margin: 60 auto;
    border-collapse: collapse;
    
    margin-top: 15%;
}

.result th {
  background-color: black;  
}

section {
    overflow-y: scroll;
    overflow-x: scroll;

}